*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg, #366aa2, #0C2542);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.card{
    width: 60%;
    max-width: 70rem;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}
.card div:first-child{
    padding: 5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background: white;
}
.card form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}
.card form input{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid grey;
}
.card form button{
    background: #1C4673;
    width: 45%;
    min-width: 8rem;
    padding:  10px 20px ;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
.card form button a{
    color: white;
    text-decoration: none;
}
.card p a{
    color: #1C4673;
    font-weight: bolder;
    text-decoration: none;
}
.card p{
    line-height: 2rem;
}
/* seconde sm */
.card div:last-child{
    background: linear-gradient(-45deg, #366aa2, #0C2542);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    font-size: 1.4rem;
    width: 50%;
    padding: 20px;
}
.card div:last-child h1{
    background: white;
    color: #1C4673;
    padding: 20px 15px;
    border-radius: 50%;
}
@media (max-width:768px) {
    body{
        font-size: 14px;
    }
    .card{
        width: 90%;
    }
    .card div:first-child{
        gap: 10px;
        padding: 2rem;
    }
    .card p{
        line-height: 1.4rem;
    }
    .card div:last-child{
        font-size: 14px;
    }
}