*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: white;
    position: fixed;
    margin-left: 17%;
    padding: 30px;
}
/* aside bare */
aside{
    background: #0C2542;
    color: white;
    width:17%;
    height: 100vh;
    padding: 35px;
}
aside li{
    line-height: 60px;
}
/* contenue */
main{
    background: rgb(221, 219, 219);
}
